USE [master]
GO
/****** Object:  Database [Jaya_Chat]    Script Date: 12/10/2019 12:55:32 ******/
CREATE DATABASE [Jaya_Chat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Jaya_Chat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Jaya_Chat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Jaya_Chat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Jaya_Chat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Jaya_Chat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Jaya_Chat]
GO
USE [Jaya_Chat]
GO
/****** Object:  User [cristhian]    Script Date: 12/10/2019 12:55:32 ******/
CREATE USER [cristhian] FOR LOGIN [cristhian] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[adminAccounts]    Script Date: 12/10/2019 12:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminAccounts](
	[id_admin] [int] NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatRooms]    Script Date: 12/10/2019 12:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatRooms](
	[id_Room] [int] NOT NULL,
	[roomName] [varchar](50) NOT NULL,
	[deleteRoom] [int] NOT NULL,
	[Created_at] [date] NOT NULL,
 CONSTRAINT [PK_ChatRooms] PRIMARY KEY CLUSTERED 
(
	[id_Room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 12/10/2019 12:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[id_message] [int] NOT NULL,
	[id_User] [int] NOT NULL,
	[id_Room] [int] NOT NULL,
	[messageText] [varchar](max) NOT NULL,
	[msnDate] [date] NOT NULL,
 CONSTRAINT [PK_message] PRIMARY KEY CLUSTERED 
(
	[id_message] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/10/2019 12:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_User] [int] NOT NULL,
	[NickName] [varchar](50) NOT NULL,
	[Active] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
