@model jayatechTest.Models.Users

@{
    <h2>Before to get in JayaChat, Please write  your NickName</h2>

    @using (Html.BeginForm("procesNickName", "Home", FormMethod.Post))
    {
        <input type="hidden" name="token" id="token" value="" />

        <strong>@Html.Label("NickName: ")</strong>
        @Html.TextBoxFor(model => model.NickName, new { @class = "form-control", @placeholder = "NickName", autocomplete = "off" })<br />
        @Html.Label("Put only alpha numeric Characters and no more than fifty Characters")<br />

        <input type="submit" value="Ready" class="btn-register" style="background-color:#B45F04; font-size:15px;
                         text-align:center; width: 150px; height:50px; padding:10px  20px 10px 20px; margin-top: 12px;
                         border-radius: 4px; color: white" /> <br />
        @Html.ValidationMessageFor(model => model.NickName);
    }

}

